# Data Cleaning

- E-commerce Customer Segmentation & Prediction

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(
    "../data/raw/online_retail.csv",
    encoding="ISO-8859-1",
    dtype={"CustomerID": str}
)

df = data.copy()

print(f"Original Shape: {df.shape}")

Original Shape: (541909, 8)

In [8]:
# converting invoice date to datetime

df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"], format="mixed")

print(f"InvoiceDate dtype: {df['InvoiceDate'].dtype}")
print(f"Date Range: {df['InvoiceDate'].min()} to {df['InvoiceDate'].max()}")

InvoiceDate dtype: datetime64[ns]
Date Range: 2010-12-01 08:26:00 to 2011-12-09 12:50:00

In [9]:
# REMOVING THE CANCELLED ORDER

before = len(df)

df = df[~df["InvoiceNo"].str.startswith("C", na=False)]

after = len(df)
print(f"Cancelled Orders Removed : {before - after:,}")
print(f"Remaining Rows           : {after:,}")

Cancelled Orders Removed : 9,288
Remaining Rows           : 532,621

In [10]:
# REMOVING NEGATIVE QUANTITY

before = len(df)

df = df[df["Quantity"] > 0]

after = len(df)
print(f"Negative Quantity Rows Removed : {before - after:,}")
print(f"Remaining Rows                 : {after:,}")

Negative Quantity Rows Removed : 1,336
Remaining Rows                 : 531,285

In [11]:
# REMOVING ZEROS OR NEGATIVE PRICES

before = len(df)

df = df[df["UnitPrice"] > 0]

after = len(df)
print(f"Zero/Negative Price Rows Removed : {before - after:,}")
print(f"Remaining Rows                   : {after:,}")

Zero/Negative Price Rows Removed : 1,181
Remaining Rows                   : 530,104

In [13]:
# REMOVING DUPLICATED ROWS

before = len(df)

df = df.drop_duplicates()

after = len(df)
print(f"Duplicate Rows Removed : {before - after:,}")
print(f"Remaining Rows         : {after:,}")

Duplicate Rows Removed : 5,226
Remaining Rows         : 524,878

In [14]:
# CREATING A TOTAL PRICE COLUMN ( FOR RFM)

df["TotalPrice"] = df["Quantity"] * df["UnitPrice"]

print(f"TotalPrice column created ✅")
print(f"Sample TotalPrice values:")
df[["Quantity", "UnitPrice", "TotalPrice"]].head()

TotalPrice column created ✅
Sample TotalPrice values:

   Quantity  UnitPrice  TotalPrice
0         6       2.55       15.30
1         6       3.39       20.34
2         8       2.75       22.00
3         6       3.39       20.34
4         6       3.39       20.34

In [15]:
print("Remaining Null Values:")
print(df.isnull().sum())

Remaining Null Values:
InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     132186
Country             0
TotalPrice          0
dtype: int64

In [16]:
# Summary


print("DATA CLEANING SUMMARY\n\n")

print(f"Original Rows          : 541,909")
print(f"Cleaned Rows           : {len(df):,}")
print(f"Rows Removed           : {541909 - len(df):,}")
print(f"Remaining Columns      : {df.shape[1]}")
print(f"Missing CustomerIDs    : {df['CustomerID'].isnull().sum():,}")
print(f"Missing Descriptions   : {df['Description'].isnull().sum():,}")
print(f"Date Range             : {df['InvoiceDate'].min()} to {df['InvoiceDate'].max()}")
print(f"Total Customers        : {df['CustomerID'].nunique():,}")
print(f"Total Countries        : {df['Country'].nunique():,}")

DATA CLEANING SUMMARY


Original Rows          : 541,909
Cleaned Rows           : 524,878
Rows Removed           : 17,031
Remaining Columns      : 9
Missing CustomerIDs    : 132,186
Missing Descriptions   : 0
Date Range             : 2010-12-01 08:26:00 to 2011-12-09 12:50:00
Total Customers        : 4,338
Total Countries        : 38

In [18]:
# SAVING THE CLEANED DATA

df.to_csv("../data/cleaned_data.csv", index=False)

print("Cleaned data saved to ../data/cleaned_data.csv")
print("Data cleaning complete — proceed to 03_eda.ipynb")

Cleaned data saved to ../data/cleaned_data.csv
Data cleaning complete — proceed to 03_eda.ipynb